:root {
  --light: hsl(41, 65%, 90%);
  --dark: hsl(206, 15%, 20%);
  --primary: hsl(177, 25%, 60%);
  --secondary: hsl(29, 70%, 70%);
  --button: hsl(350, 75%, 65%);
}

/* ===== FONTS ===== */

@font-face {
  font-family: "Advanced Pixel 7";
  src: url("../fonts/advanced-pixel-7.regular.ttf") format(TrueType);
}

@font-face {
  font-family: "VP Pixel Simplified";
  src: url("../fonts/vp-pixel.simplified-demo.otf") format(OpenType);
}

/* =====  GLOBAL STYLES ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: "VP Pixel Simplified", monospace;
  color: var(--dark);
  font-size: 1.2rem;
}

.container {
  width: 90%;
  overflow: auto;
  margin: 1rem auto;
  display: flex;
  gap: 1rem;
}

.nav-left {
  display: none;
}

.main-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: "Advanced Pixel 7", monospace;
  font-size: 4.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

a {
  color: var(--dark);
}

ul {
  list-style: none;
}

ol {
  list-style: square;
}

section {
  padding: 1.5rem;
  border: 3px solid var(--dark);
  border-radius: 3px;
}

/* ===== HEADER ====== */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

header p {
  max-width: 600px;
}

/* ===== NAV ===== */

/* SEE MEDIA QUERIES  */

/* ===== COLORS ===== */

#colors {
  width: 100%;
  background-color: var(--primary);
  transition: all 0.5s;
}

#colors:hover,
#typography:hover,
#buttons:hover {
  box-shadow: 10px 10px var(--secondary);
}

.color {
  max-width: 100%;
  margin: 1.5rem 0;
  padding: 1rem;
  letter-spacing: 0.05rem;
  border: 2px solid var(--dark);
  border-radius: 3px;
}

.color:hover {
  position: relative;
  left: 5px;
}

#light {
  background-color: var(--light);
}

#dark {
  background-color: var(--dark);
  color: var(--light);
}

#first {
  background-color: var(--primary);
}

#second {
  background-color: var(--secondary);
}

/* ===== TYPOGRAPHY ===== */

#typography {
  background-color: var(--primary);
  transition: all 0.5s;
}

.text-styles {
  margin-top: 2rem;
}

.text-styles ul {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: 2px solid var(--dark);
  padding-left: 1rem;
}

.text-styles p {
  margin-top: 1rem;
}

.text-styles a {
  margin-block: 2rem;
}

/* ===== RULESETS ===== */

#rulesets {
  background-color: var(--secondary);
  transition: all 0.5s;
}

#rulesets:hover,
#improvements:hover {
  box-shadow: 10px 10px var(--primary);
}

hr {
  border: 1px solid var(--dark);
  width: 60%;
  margin-block: 0.5rem;
}

.ruleset {
  margin-top: 1.5rem;
}

/* ===== BUTTONS ===== */

#buttons {
  background-color: var(--primary);
  transition: all 0.5s;
}

.button-wrapper {
  margin-top: 1.5rem;
}

button {
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  width: 150px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid var(--dark);
  background-color: var(--primary);
  cursor: pointer;
}

.secondary-btn {
  background-color: var(--secondary);
}

.disabled-btn {
  background-color: var(--dark);
  color: var(--light);
}

.hover-btn {
  background-color: var(--light);
  box-shadow: 5px 5px var(--dark);
}

/* ===== IMPROVEMENTS ===== */

#improvements {
  background-color: var(--secondary);
}

#improvements ol {
  margin-top: 1.5rem;
  padding-inline: 1.5rem;
}

#improvements ol li {
  margin-block: 0.8rem;
}

/* ===== FOOTER ===== */

footer {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

/* ===== MEDIA QUERIES ===== */

@media only screen and (min-width: 800px) {
  .container {
    width: calc(100% - 2rem);
    padding: 1rem;
    padding-left: 0;
    margin: 1rem;
  }

  .nav-left {
    display: block;
    align-self: flex-start;
    position: fixed;
    top: 1rem;
    background-color: var(--secondary);
    padding: 2.5rem 2rem;
    text-align: center;
    border: 3px solid var(--dark);
    border-radius: 3px;
    transition: all 0.5s;
  }

  .main-right {
    margin-left: 220px;
  }

  nav:hover {
    box-shadow: 10px 10px var(--primary);
  }

  nav li {
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
  }

  .main-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  header {
    grid-column: span 2;
  }

  #colors {
    grid-column: span 2;
  }

  footer {
    grid-column: span 2;
  }
}
